.container{
    padding:1.5%
}

.banner-1{
    height: 400px;
    background-image: url(imagens/redes-sociais.jpg);
}

h1{
    background-color: rgb(77, 77, 77);
    height: 100%;
    text-align: center;
    padding: 130px;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.destaquee{
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

p.titulo, footer{
    height: 100px;
    line-height: 100px;
    background-color: rgb(255, 210, 210);
    text-align: center;
    font-size: 1.5em;
}

article{
    margin-top: 30px;
}

figcaption{
    padding: 1.5%;
    text-align: justify;
}